* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.collage {
    background-color: rgb(206, 206, 206);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.figure {
    width: 180px;
    height: 240px;
    background-color: white;
    box-shadow: 0 0 8px rgb(75, 75, 75);
    border: 1px solid gray;
    display: inline-block;
    position: absolute;
    transform: translate(300px, 50px);
}

.collage__figure:nth-child(1n + 1) {
    width: 180px;
    height: 240px;
}

.collage__figure:nth-child(1n + 4) {
    width: 270px;
    height: 330px; 
}

.collage__figure:nth-child(1n + 7) {
    width: 330px;
    height: 390px; 
}

.collage__figure:nth-child(1n + 10) {
    width: 230px;
    height: 290px; 
}

.collage__figure:nth-child(1n + 13) {
    width: 130px;
    height: 190px;
}




.collage__figure1 {
    transform: translate(50px, 70px) rotate(-70deg);
}

.collage__figure2 {
    transform: translate(1600px, 30px) rotate(50deg);
}

.collage__figure3 {
    transform: translate(600px, 550px) rotate(20deg);
}

.collage__figure4 {
    transform: translate(300px, 300px) rotate(-30deg);
}

.collage__figure5 {
    transform: translate(770px, 630px) rotate(20deg);
}

.collage__figure6 {
    transform: translate(1050px, 550px) rotate(70deg);
}

.collage__figure7 {
    transform: translate(870px, 4000px) rotate(10deg);
}

.collage__figure8 {
    transform: translate(1300px, 250px) rotate(10deg);
}

.collage__figure9 {
    transform: translate(1500px, 550px) rotate(-25deg);
}

.collage__figure10 {
    transform: translate(100px, 550px) rotate(37deg);
}

.collage__figure11 {
    transform: translate(600px, 50px) rotate(20deg);
}

.collage__figure12 {
    transform: translate(1000px, 20px) rotate(-40deg);
}

.collage__figure13 {
    transform: translate(600px, 550px) rotate(30deg);
}

.collage__figure14 {
    transform: translate(600px, 550px) rotate(60deg);
}

.collage__figure15 {
    transform: translate(1050px, 650px) rotate(40deg);
}

.collage__figure16 {
    transform: translate(300px, 700px) rotate(-40deg);
}



.figure:hover {
}





.img {
    width: 90%;
    height: 60%;
    margin: 5%;
}

collage__img {
}

.figcaption {
    font-size: 18px;
    text-align: left;
    font-style: italic;
    margin: 2% 5% 5% 5%;
}

.collage__figcaption:nth-child(1n + 4) {
    font-size: 1.2rem;
}

.collage__figcaption:nth-child(1n + 7) {
    font-size: 1.4rem;
}

.collage__figcaption:nth-child(1n + 10) {
    font-size: 1rem;
}

.collage__figcaption:nth-child(1n + 13) {
    font-size: 0.7rem;
}





