* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.collage {
    background-color: rgb(206, 206, 206);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.figure {
    background-color: white;
    box-shadow: 0 0 20px rgb(75, 75, 75);
    border: 2px solid gray;
    display: inline-block;
    position: absolute;
}

.img {
    width: 90%;
    height: 60%;
    margin: 5%;
}

collage__img {
}

.collage__figure:nth-child(1n + 1) {
    width: 180px;
    height: 240px;
}

.collage__figure:nth-child(1n + 4) {
    width: 270px;
    height: 330px; 
}

.collage__figure:nth-child(1n + 7) {
    width: 330px;
    height: 390px; 
}

.collage__figure:nth-child(1n + 10) {
    width: 230px;
    height: 290px; 
}

.collage__figure:nth-child(1n + 13) {
    width: 130px;
    height: 190px;
}

.collage__figure1 {
    width: 220px;
    height: 280px;
    transform: translate(180px, 5px) rotate(-50deg);
    z-index: 1;
}

.collage__figure2 {
    width: 260px;
    height: 320px;
    transform: translate(960px, 15px) rotate(50deg);
    z-index: 3;
}

.collage__figure3 {
    width: 220px;
    height: 280px;
    transform: translate(1200px, 530px) rotate(-20deg);
    z-index: 2;
}

.collage__figure4 {
    width: 360px;
    height: 420px; 
    transform: translate(150px, 150px) rotate(-30deg);
    z-index: 3;
}

.collage__figure5 {
    width: 340px;
    height: 370px;
    transform: translate(910px, 440px) rotate(10deg);
    z-index: 9;
}

.collage__figure6 {
    width: 310px;
    height: 370px;
    transform: translate(450px, 220px) rotate(-10deg);
    z-index: 5;
}

.collage__figure7 {
    width: 370px;
    height: 430px;
    transform: translate(640px, 20px) rotate(15deg);
    z-index: 4;
}

.collage__figure8 {
    width: 370px;
    height: 430px;
    transform: translate(1130px, 100px) rotate(-15deg);
    z-index: 2;
}

.collage__figure9 {
    width: 370px;
    height: 430px;
    transform: translate(1330px, 330px) rotate(15deg);
    z-index: 1;
}

.collage__figure10 {
    width: 320px;
    height: 380px;
    transform: translate(90px, 420px) rotate(37deg);
    z-index: 6;
}

.collage__figure11 {
    width: 270px;
    height: 330px;
    transform: translate(650px, 515px) rotate(-10deg);
    z-index: 8;
}

.collage__figure12 {
    width: 270px;
    height: 330px;
    transform: translate(1380px, 20px) rotate(40deg);
    z-index: 1;
}

.collage__figure13 {
    width: 170px;
    height: 230px;
    transform: translate(1620px, 570px) rotate(55deg);
}

.collage__figure14 {
    width: 170px;
    height: 230px;
    transform: translate(1645px, 160px) rotate(-15deg);
}

.collage__figure15 {
    width: 150px;
    height: 210px;
    transform: translate(10px, 350px) rotate(5deg);
}

.collage__figure16 {
    width: 200px;
    height: 260px;
    transform: translate(400px, 500px) rotate(10deg);
    z-index: 5;
}

.collage__figure17 {
    width: 220px;
    height: 250px;
    transform: translate(415px, 20px) rotate(-5deg);
}

.collage__figure18 {
    width: 200px;
    height: 270px;
    transform: translate(455px, 580px) rotate(-25deg);
    z-index: 7;
}

.collage__figure19 {
    width: 200px;
    height: 270px;
    transform: translate(10px, 30px) rotate(-20deg);
    z-index: 2;
}

.text {
    background-color: white;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 0 20px rgb(75, 75, 75);
    border: 2px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 17;
}

.figure:hover {
    transform: scale(1.2);
    transition: 2.5s;
    z-index: 18;
}

.figcaption {
    text-align: left;
    font-style: italic;
    margin: 2% 5% 5% 5%;
}


.collage__figcaption:nth-child(1n + 1) {
    font-size: 0.8rem;
}

.collage__figcaption:nth-child(1n + 4) {
    font-size: 1rem;
}

.collage__figcaption:nth-child(1n + 7) {
    font-size: 1.1rem;
}

.collage__figcaption:nth-child(1n + 10) {
    font-size: 1.2rem;
}

.collage__figcaption:nth-child(1n + 13) {
    font-size: 0.7rem;
}





